{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header.twig' with {title: 'Члены ассоциации'} %}

  <div class="container md:mb-4 mb-2">
    <div class="text text-on-page prepend-line lg:mt-16 md:mt-12 md-10 lg:pr-48">
      <p>Ассоциация флебологов России (АФР)  более 20 лет тому назад была создана выдающимся отечественным хирургом академиком РАН В.С. Савельевым. За этот период  флебология, как одно из направлений современной сердечно-сосудистой хирургии, открыла новую эпоху в развитии и изучении патологии венозной системы, включая ее аспекты на клеточном и генетическом уровнях, разработаны эндоваскулярные аспекты реконструктивных операций, созданы высокоэффективные алгоритмы диагностики  и профилактики тромбоэмболических осложнений. </p>
    </div>
  </div>

  <div class="lg:mb-20 md:mb-8 sm:mb-6 mb-4">
    <div class="relative flex py-12">
      {% include '../includes/pattern.twig' %}

      <div class="container z-10">

        <div class="relative flex flex-wrap items-center justify-between lg:pl-24 pl-3">
          <span class="absolute top-0 left-0 lg:mt-0 transform lg:translate-x-3 lg:translate-y-10 -translate-y-6 lg:pl-0 pl-4 lg:text-tiny text-md text-blue-300">
            <span class="vertical-text">Почетные члены ассоциации</span>
          </span>

          {% for item in items %}
            <div class="md:w-1/2 my-4 flex items-center">
              <img data-src="./assets/images/members-img-{{loop.index}}.png" alt="" class="md:mr-16 mr-4 md:h-36 md:w-36 h-30 w-30 rounded-full {{loop.index % 2 == 0 ? 'ml-auto' : ''}}">
              <div class="md:w-1/2">
                <p class="md:w-5/6 mb-1 font-serif text-xl leading-tight">{{item.name}}</p>
                <p class="text-tiny">{{item.country}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flex flex-wrap justify-between items-center">
      <h2 class="mb-3 lg:text-4-5xl md:text-4xl text-3-5xl">Члены АФР</h2>

      <ul class="flex items-center justify-start space-x-4" data-tabs>
        <li>
          <a href="#list" class="button py-3 px-6 bg-purple-300 text-white md:text-base space-x-3" data-tabby-default data-title="Поиск врачей по городу">
            {% include '../svg/list-icon-svg.twig' with {classes: 'text-white'} %}
            <span class="whitespace-no-wrap">Список городов</span>
          </a>
        </li>
        <li>
          <a href="#map-tab" id="init-map"  class="button py-3 px-6 bg-purple-300 text-white md:text-base space-x-3 opacity-25" data-title="Поиск врачей по карте">
            {% include '../svg/geo-icon-svg.twig' with {classes: 'text-white'} %}
            <span>Карта</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="lg:mt-12 md:mt-16 sm:mt-12 mt-8 lg:mb-36 md:mb-20 mb-16 pl-6">
      {% for letter in letters %}
        <div class="{{loop.index == 1 ? 'md:mt-18' : 'md:mt-20'}} mt-10 flex md:flex-row flex-col items-start justify-start">
          <h5 class="md:mb-0 sm:mb-6 mb-3 mr-6">{{letter.value}}</h5>
          {% for column in letter.columns %}
            <ul class="md:w-2/6 md:pl-3 pt-2 text-sm styled">
              {% for name in column.names %}
                <li class="mb-5"><a href="#" class="hover:underline">{{name}}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
